.card{
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #eaeef0;
    /* max-height: 115px; */
}

.card-margins{
    width: 45px;
    background-color: black;
    height: 5px;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid red;
}

.user-img{
    height: 100%;
    width: 100%;
    /* border-radius: 50%;
    margin-bottom: 10px; */
}

.card-icon-img-container{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-icon-img{
    font-size: 2.5rem;
}

.user-icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-user-icon{
    height: 9.6px;
    width: 9.6px;
    color: #8997a4;
    cursor: pointer;
}

.edit-icon{
    height: 9.6px;
    width: 9.6px;
    color: #8997a4;
    cursor: pointer;
    opacity: 0.6;
}

.edit-icon:hover{
    color: grey;
    opacity: 1;
}

.pause-icon{
    height: 7px;
    width: 7px;
    color: #8997a4;
    cursor: pointer;
    border: 1px solid #8997a4;
    border-radius: 50%;
    padding: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.6;
}

.pause-icon:hover{
    color: orange;
    border: 1px solid orange;
    opacity: 1;
}

.delete-icon{
    height: 15px;
    width: 15px;
    color: #8997a4;
    cursor: pointer;
    opacity: 0.6;
}

.delete-icon:hover{
    color: red;
    opacity: 1;
}

.card-line{
    height: 80px;
    border-left: 1px solid #8997a4;
    opacity: 0.22;
    margin-left: 21.5px;
    margin-right: 23.5px;
}

.user-info{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    position: relative;
    overflow: hidden;
    line-height: initial;
}

/* show username on hover */

.card-username{
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    font-family: Lato-800;
    /*margin-bottom: 3px;
    */color: #5c6974;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all ease 0.2s;
}

.card-full-username{
    width: 80%;
    text-transform: capitalize;
    font-size: .85rem;
    font-family: Lato-800;
    color: #5c6974;
    white-space: nowrap;
    transition: all ease 0.2s;
    position: absolute;
    top: 22px;
    background-color: rgb(248, 248, 248);
    padding: 5px;
    display: none;
    animation-name: animateUsername;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    width: max-content;
}

.card-username:hover .card-full-username{
    display: block;
}

@keyframes animateUsername {
    0%{
        opacity: 0;
        transform: translateY(-10px);
}
    100%{
        opacity: 1;
        transform: translateY(0px);
}
}

/* .user-info h4{
    font-size: 0.813rem;
    font-family: Roboto;
    margin-bottom: px;
    color: #313030;
} */

.user-info p{
 font-size: 10px;
 margin-bottom: 9px;
 color: #5c6974;
 font-family: 'Roboto', sans-serif;
}

.card-state{
    color: #27b40c;
    font-weight: 500;
    width: 57px;
    height: 17px;
    background-color: #cfcfcf54;
    text-align: center;
    font-size: 0.688rem;
    letter-spacing: 0.61px;
}

.present{
    background-color: #28b40c1a;
    color: #27b40c;
}

.absent{
    background-color: #ff6a6a3d;
    color: #ff6a6a;
}

.weekend{
    background-color: #2765ac3d;
    color: #2764ac;
}

.holiday{
    background-color: #23a8eb3d;
    color: #23aaeb;
}

.card-icons-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 13px;
    bottom: 12px;
}

.card-icon-container{
    height: 20px;
    width: 20px;
    margin-right: 7px;
    border-radius: 50%;
    background-color: #eaeef0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-icon-container:hover{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
}

.card-icon{
    font-size: .65rem;
    color: #313030;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    width: 300px;
    min-height: 100px;
    position: absolute;
    transform: translate(-250px, 10px);
    border: 1px solid #eaeef0;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    padding: 10px;
    z-index: 3;
    display: none;
    background-color: white;
    z-index: 999;
}

.dropdown-content-email{
    min-width: 300px;
    min-height: 20px;
    position: absolute;
    transform: translate(-250px, 10px);
    border: 1px solid #eaeef0;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    padding: 10px;
    z-index: 3;
    display: none;
    background-color: white;
    z-index: 999; 
    text-align: center;
}

.email{
    display: none;
}

.dropdown-notch{
    position: absolute;
    top: 0;
    right: 35px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    transform: scale(1.7) translateY(-70%);
    z-index: -50;
}

/* show tooltip on hover */

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-content-email{
    display: block;
}

.dropdown-header{
    color: #8997a4;
    font-size: 0.7rem;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.dropdown-result{
    color: #313030;
    font-size: 0.7rem;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    text-transform: capitalize;
}

