@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.employee-page{
    padding-top: 1.813rem;
    padding-left: 2.188rem;;
    /* padding-right: 2.188rem; */
    /* margin-left: 6.625rem; */
    /* min-height: 90vh; */
    overflow-x: hidden;
    padding-bottom: 120px;
    /* border: 1px solid red; */
    @apply pr-5 mx-auto ml-[6.625rem];
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
}

.search-input-container{
    flex: 12;
    background-color: white;
    border-radius: 0.313rem;
    height: 1.875rem;
    padding: 0px 26px;
    /* width: 100%; */
    /* width: 85%; */
    margin-right: 0.75rem ;
}

.search-icon{
    color: #23aaeb;
    margin-right: 1rem;
    cursor: pointer;
    margin-left: 26px;
    font-size: 14px;
}

.search-input{
    border: none;
    outline: none;
    height: 100%;
    width: 90%;
}

.add-btn{
    /* flex: 1; */
    /* width: 6.313rem; */
    /* background-color: #2764ac; */
    border-radius: 5px;
    color: white;
    font-family: Roboto;
    /* font-size: 0.813rem; */
    /* height: 1.875rem; */
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-icon{
    margin-right: 10px;
    font-size: 1.1rem;
}

@media only screen and (max-width:700px){
    .employee-page{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 370px) {
    .add-btn{
        font-size: 10px;
    }
}